
<br/><br/>
<div *ngIf="currentUser" class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="text-center">
        <h1 class="display-3 top">My Profile Page</h1>
      </div>
      <hr />
      <br/>

      <a class="btn btn-lg btn-outline-secondary left" routerLink="/user/change/">Change Profile <fa name="cog" animation="spin"></fa></a> <span class="top"> | </span>
      <a class="btn btn-lg btn-outline-secondary right" routerLink="/user/passwordchange/"><fa name="key" animation="spin"></fa> Change Password</a>

      <br/>
      <br/>
      <hr />

      <h3 class="right">Username:</h3>
      <h1 class="display-4 left">{{ authService.username }}</h1>
      <br/>
      <hr />

      <br/>
      <h3 class="right">Avatar Image:</h3>
      <img *ngIf="authService.avatarUrl === null || authService.avatarUrl === ''" class="avatar-image card-image-top img-fluid img-thumbnail forms" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png"/>
      <img *ngIf="authService.avatarUrl !== null && authService.avatarUrl !== ''" class="avatar-image card-image-top img-fluid img-thumbnail forms" src="{{ authService.avatarUrl }}"/>
      
      <br/>
      <br/>
      <hr />

      <br/>
      <h3 class="right">Email:</h3>
      <h1 class="display-4 left">{{ authService.email }}</h1>

      <div *ngIf="!currentUser._kmd.emailVerification || currentUser._kmd.emailVerification.status !== 'confirmed'">
        <button class="verify-email-btn btn btn-outline-success" (click)="verifyEmail()">Verify Email <fa name="envelope" animation="pulse"></fa></button>
        <div class="email-verification-message" style="display: none;"><p>Verification email send !</p></div>
      </div>

      <div *ngIf="currentUser._kmd.emailVerification">
          <div *ngIf="currentUser._kmd.emailVerification.status === 'confirmed'">
        <span class="verified-email">Email Address Verified ! <fa name="check"></fa></span>
      </div>
    </div>
      <br/>
      <hr />

      <br/>
      <h3 class="right">Role:</h3>
      <h1 class="display-4 left">{{ authService.role }}</h1>
      <br/>
      <hr />

      <br/>
      <h3 class="right">Orders:</h3>
      <br/>
      <table *ngIf="myOrders" class="table bottom">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Comix</th>
            <th scope="col">Date</th>
            <th scope="col">Buyer</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of myOrders; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ order.comix }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.buyer }}</td>
            <td>{{ order.price }}</td>
            <td>
              <a class="btn btn-outline-primary tableDataRotateTop" routerLink="/order/details/{{ order._id }}">Details <fa name="info"></fa></a> |
              <a class="btn btn-outline-danger tableDataRotate" (click)="deleteOrder(order._id)"><fa name="trash"></fa> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="myOrders && myOrders.length < 1">No orders in database.</div>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>