@model IMDB.Models.Event
<!--Vzimame si modela Event ako ni trqbva da vmukvame informaciq-->
@{
    ViewBag.Title = "Create Event";
}

<!--Tova e zaglavieto -->
<h1>Create Event</h1>

<section>
    <div>
        <!--Polzvaiki Razor kato ViewEngine mojem chrez kliomba da pochnem da pishem na C#.-->
        @using (Html.BeginForm("Create", "Event", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            /*Qsno e che mojem da meshame C# kod i html kod v edno, sudadohme formicha s post metod formichka 
             koqto e v div koito se namira v sekciq*/

            /*Tova sa poletata koito shte zapilvame s informaciq, za vsqko pole si ima label.*/
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
            <label for="startDateAndTime">Start Date And Time</label>
            <input type="datetime-local" id="startDateAndTime" name="startDateAndTime">
            <label for="endDateAndTime">End Date And Time</label>
            <input type="datetime-local" id="endDateAndTime" name="endDateAndTime">

            /*Tova ot dolo sa butonite*/
            <button type="submit" class="">Create</button>
            <a onclick="location.href='/'" class="cancel">Cancel</a>
        }

    </div>
</section>