@model List<IMDB.Models.Event>

@{
    ViewBag.Title = "All Events";
}

<h1>All Events</h1>
<!--Tuk Create butona e ot gore-->
<div>
    <button onclick="location.href='/create';return false;" class="add-new">Create New Event</button>
</div>

<section>
    <div>
        <!--Polzvame tablica v koqto da vmukvame nashite eventi-->
        <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Start Date And Time</th>
                <th>End Date And Time</th>
                <th>Actions</th>
            </tr>
            @foreach (var eve in Model.ToList())
            {
                //Tuk polzvam for cikul s koito da vmukna vsichi eventi edin po edin
                <tr>
                    <td>@eve.Name</td>
                    <td>@eve.Location</td>
                    <td>@eve.StartDateAndTime</td>
                    <td>@eve.EndDateAndTime</td>

                    <!--Za vseki event zakacham dva butona-->
                    <td>
                        <button onclick="location.href='/edit/@eve.Id';return false;" class="edit">Update</button>
                        <button onclick="location.href='/delete/@eve.Id';return false;" class="delete">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>