
<form id="formLogin" method="POST" action="#/login"  class="form">
    <label>Username</label>
    <input name="username" type="text">
    <label>Password</label>
    <input name="password" type="password">
    <input id="btnLogin" value="Sign In" type="submit">
    <a href="skeleton.html">Register</a>
</form>