<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    {{#if isAuth}}<!--Imame promenliva koqto ako e true dobavq ime i logout buton kum celiq header-->
        <div id="profile"><span>{{username}}</span>|<a href="#/logout">logout</a></div>
    {{/if}}
</header>