<div class="product-card">
    <img src="{{imageUrl}}">
    <a href="product/edit/{{id}}" class="control">
        <img class="control-img" src="/img/edit.png">
    </a>
    <a href="product/delete/{{id}}" class="control">
        <img class="control-img" src="/img/delete.png">
    </a>
    <a href="order/{{id}}" class="button product-title">Order</a>
</div>