
@{
    ViewData["Title"] = "PetFoundCompleted";
}


<div class="container">
    <div class="row">
        <h1 class="top">Comfirmation message sent to owner.</h1>
        <h2 class="left">How it works ?</h2>
        <p class="right">The owner of the pet will receive a confirmation message.</p>
        <p class="bottom">If he confirms that you are the founder of the pet, then you will receive the feedback points for it.</p>

        <a id="btn-add-game" href="/Pets/All" class="tableDataRotateTop btn btn-primary btn-lg">Back To Home <i class="fas fa-home"></i></a>
    </div>
</div>

