<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./public/style.css"/>
    <title>Body parser</title>
</head>

<body>

    <h1>Form:</h1>

    <form method="POST" action="/formView.html">
        <input type="text" name="firstName" />
        <input type="text" name="lastName" />
        <input type="number" name="age" />
        <input type="submit" name="submtBtn" value="Submit" />
    </form>

</body>

</html>