@model IList<FindMyPet.Models.Pet>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-12">

                <div class="text-center left">
                    <h1 class="display-3 ">Home Page</h1>
                </div>
                <hr />

                <div class="text-center jumbotron mt-3  right">

                    <div class="tableData">
                            <h2>Welcome to my websait, I hope you enjoy all the functionalities.</h2>

                            <hr class="bg-white" />

                            <h3>Admin Credentials: username: "admin@abv.bg" & password : "123123".</h3>
                            <br />
                            <h3>
                                <a class="nav-link-dark" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a> if you don't have an account.
                            </h3>
                            <br />
                            <h3>
                                <a class="nav-link-dark" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a> if you have an account.
                            </h3>
                        </div>
                </div>
        </div>
    </div>
</div>