<nav id="nav">
    <ul>
        <li>
            <a href="#/home">Editor</a>
        </li>
        <li>
            <a href="#/overview">Overview</a>
        </li>
        <li>
            <a href="#/logout" class="logout">Logout</a>
        </li>
    </ul>
</nav>