
{{> header}}
{{> navigation}}

<section id="viewDiscover">
        <div class="content">
            <div class="chirps">
                <h2 class="titlebar">Discover</h2>
                <div id="userlist">
                    
                    {{#each users}}
                        {{> user}}
                    {{/each}}
                    <!-- TODO Load more user profiles -->
                </div>
            </div>
        </div>
    </section>

    {{> footer}}