<br/>
<br/>

<div *ngIf="comix" class="container">
    <div class="row">
        <div class="col-12 text-center">

            <h1 class="display-3 top2">Confirm Order Page</h1>
            <br/>
            <hr class="display-3" />

            <br/>
            <h1 class="display-5 top">{{ comix.name }}</h1>
            <br/>

            <img width="500px" class="card-image-top img-fluid img-thumbnail forms" src="{{ comix.image }}" />
            <br/>
            <br/>

            <p>
                <strong class="right">Description</strong>
            </p>
            <p class="left">{{ comix.description }}</p>
            <br/>
            <p>
                <strong class="right2">Price</strong> : <strong class="left2">{{ comix.price }} &euro;</strong></p>
            <br/>
            <p>
                <strong class="right3">In Stock</strong> : <strong class="left3">{{ comix.stock }}</strong></p>
            <br/>
            <p>
                <strong class="right4">Release Date</strong> : <strong class="left4">{{ comix.date }}</strong></p>
            <br/>

            <div class="bottom">
                <p>
                    <strong>Comments</strong>
                </p>
                <div class="card col-12 thumbnail">
                    <br/>
                    <div class="card col-12" *ngFor="let comment of comments">
                        <p>{{ comment.description }}</p>
                        <p>
                            <strong style="color: grey">{{ comment.creator }}</strong> -
                            <i>{{ comment.date }}</i>
                        </p>
                    </div>
                    <div *ngIf="comments.length < 1">
                        <h3>No comments posted for this comics.</h3>
                    </div>
                    <br/>
                </div>
            </div>

            <br/>
            <br/>
            <div class="bottom2">
                <a class="btn btn-outline-primary tableDataRotateTop" routerLink="/comix/all"><fa name="arrow-left"></fa> Back</a> |
                <a class="btn btn-outline-success tableDataRotateTop" (click)="createOrder()">Confirm <fa name="check" style="color:green"></fa> </a>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>