@page
@model IndexModel
@using BookLibrary.Models;
@using System.Collections.Generic;
@using System.Linq;
@{
    Layout = "_Layout";
    ViewData["Title"] = "My Library";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-success my-2 my-sm-0" asp-page="Books/Add">Add New Book</a>
<br />
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @Html.Raw(ViewData["Books"])
        </tbody>
    </table>
</div>