@page
@model BookLibrary.Web.Pages.SearchModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Search";
}
<h1>Search results: "@Model.Search"</h1>

<ul>
    @Html.Raw(Model.Authors)
</ul>
<br/>
<ul>
    @Html.Raw(Model.Books)
</ul>