
<h1>Hello !</h1>

<h2>{{title}}</h2>  <!-- sega nqma da go pokaje zashtoto mahnahme obekta -->


<!-- KOGATO RENDERIRAME NESHTO TRQBVA DA RESTARTIRAME SERVERA, IMA AVTOMATICHNI TOLOVE
KOITO GO PRAVQT ZA NAS.

NO AKO PROSTO PROMENQME HTML-A NQMA NUJDA DA RESTARTIRAME !

-->

<h3>hahaha</h3>


<h2>{{subtitle}}</h2>  <!-- sega nqma da go pokaje zashtoto mahnahme obekta -->