<h1>Create a car</h1>
<form method="post" action="/cars/add">
    <input type="text" name="make" placeholder="enter make" />
    <input type="text" name="model" placeholder="enter model" />
    <input type="text" name="imageUrl" placeholder="enter image url" />
    <input type="number" name="price" placeholder="enter price" />
    <input type="text" name="color", placeholder="enter color (optional)" />
    <input id="submit" type="submit" value="CREATE" />
</form>


{{{message}}}