@{
    ViewData["Title"] = "About";
}

<!--Razor -->

<ul>

@model string[]
@foreach (string name in Model) {
    <li>@(name)</li>
}
</ul>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
