{% extends 'base.html.twig' %}

{% block main %}

    <h2 class="text-center">
        Are you sure you want to delete this article ?
    </h2>

    <div class="pull-right">
        <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">No</a>
        <a class="btn btn-danger btn-xs" href="{{ path('article_confirm_delete', {id: id}) }}">Yes</a>
    </div>

{% endblock %}