<form id="formSubmitChirpMy" class="chirp-form" method="POST" action="#/me">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
</form>