<main>
                <h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>Edit article</h2>
                    <div class="spacer">
                        <p>This article is locked !</p>
                    </div>
                </section>
            </main>
            {{error}}