@page "{id:int?}"    
@model RazorPagesArchitecture.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<!--Optional parameter id:int-->

<h2>Details</h2>

<h2>@ViewData["DetailsMessage"]</h2>

