 {{> nav}}

<section id="viewCatalog" class="background-img">
    <a href="#/add/flight" class="add-flight">Add Flight +</a>


    <div class="added-flights">

        {{#each flights}} 
            {{> flight}} 
        {{/each}} 
        
        {{#if noFlights}}
            <p>No published flights.</p>
        {{/if}}

    </div>
</section>

{{> footer}}