<br/>
<div *ngIf="orderId" class="container">
  <div class="row">
    <div class="col-12 text-center">

      <h1 class="display-2 top2">Congratulations.</h1>
      <h1 class="display-3 top">Order Created Successfully.</h1>
      <br/>
      <h1 class="display-4 forms">Details:</h1>
      <hr class="display 2" />

      <h1 class="display-5 right">Order Id: {{ orderId }}</h1>
      <h1 class="display-5 left">Comix: {{ comix }}</h1>
      <h1 class="display-5 right2">Buyer: {{ buyer }}</h1>

      <hr class="display 2" />
      <div class="titleDiv">
        <h1 class="display-4 classTitle">Thank you for your purchase.</h1>
      </div>
      <br/>
        <a class="btn btn-outline-primary tableDataRotate" routerLink="/comix/all"><fa name="arrow-left"></fa> Back to All Comics</a><span class="bottom"> | </span>
        <a class="btn btn-primary tableDataRotate" routerLink="/order/details/{{ orderId }}"><fa name="info"></fa> View Order Detais</a> 
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>