<header>
    <h1>Hello Sammy</h1>
    <a href="#/index">Home</a>
    <!--DOBRE E  DA IMAT '#' OTPRED !!!-->
    <a href="#/about">About</a>
    <a href="#/contact">Contact</a>
    <a href="#/book/22">Get Book 22</a>
    <a href="#/login">Login</a>
    <a href="#/hello/Nasko">Say Hello</a>
</header>