<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />    
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/addMovie">Add Movie</a>
                    </li>
                    <li>
                        <a href="/viewAllMovies">View All Movies</a>
                    </li>
                    <li>
                        <a href="/moviesCount">Movies Count</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>404 Page not found!</h1>
    
    <footer>SoftUni footer &copy;2018</footer>
 
</body>

</html>