 
 {{> header}} 
 {{#if isAuth}}
<section id="viewUserHome">
    <h1 id="viewUserHomeHeading">Welcome, {{name}}!</h1>
    <a href="#/shop" id="linkUserHomeShop">Shop</a>
    <a href="#/cart" id="linkUserHomeCart">Cart</a>
</section>
{{else}}
<section id="viewAppHome">
    <h1>Welcome</h1>
    Welcome to our shopping system.
</section>
{{/if}} {{> footer}}