<form id="create-receipt-form" method="POST" action="#/home">
    <div class="col wide">
    </div>
    <div class="col wide">
    </div>
    <div class="col wide right">Total:</div>
    <div class="col">{{totalOfAllForms}}</div>
    <div class="col">
        <input id="checkoutBtn" type="submit" value="Checkout" />
    </div>
</form>