

h1
{
    text-align: center;
}

#wrapper
{
    Width:400px;
    Background-color: #dddddd;
    Border: 1px solid #000000;
    Margin-Left: 20px;
    Padding: 10px;
    font-size: 18px;
}














