<div class="box">
    <h1>Sign in</h1>
    <div class="content">
<!--Trqbva ni action i method v login formata-->
        <form action="#/login" method="POST" id="login-form">
            <label for="username">Username</label>
<!--ZADULJITELNO TRQBVA DA SLOJIM IMENA NA INPUT POLETATA !!!-->
            <input name="username" id="username" type="text">
<!--ZADULJITELNO TRQBVA DA SLOJIM IMENA NA INPUT POLETATA !!!-->
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
