<section id="register">
    <div class="container centered">
        <!--<header>&#9993; Contact Book</header>-->
        {{> header}}
        {{> navigation}}
        <div class="box">
            <h1>Register</h1>
            <div class="content">
                <!--ZA DA REGITRIRAME USER NI TRQBVA 'action' SUS ROUTA NA STRANICATA i
                 'method' POST vuv FORMATA-->
                <form action="#/register" method="POST" id="register-form">
                    <label for="newUsername">Username</label>
<!--ZADULJITELNO TRQBVA DA SLOJIM IMENA NA INPUT POLETATA !!!-->
                    <input name="username" id="newUsername" type="text">
                    <label for="newPassword">Password</label>
<!--ZADULJITELNO TRQBVA DA SLOJIM IMENA NA INPUT POLETATA !!!-->
                    <input name="password" id="newPassword" type="password">
                    <label for="newPassRep">Repeat Password</label>
<!--ZADULJITELNO TRQBVA DA SLOJIM IMENA NA INPUT POLETATA !!!-->
                    <input name="repeatPassword" id="newPassRep" type="password">
                    <br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
        <!--<footer>Contact Book SPA &copy; 2017</footer>-->
        {{> footer}}
    </div>
</section>