<div class="container">
  <div class="row">
    <div class="col-12">

      <br/>
      <br/>
      <br/>
      <div class="text-center jumbotron mt-3 chushka-bg-color right">
        <div class="">

            <hr class="bg-white" />

            <div class="">
              <h1 class="text-center display-3">404 Page Not Found</h1>
            </div>

            <a class="btn btn-lg btn-outline-primary tableDataRotateTop" routerLink="/">Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>