<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/content/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/content/images/expressjs-card.png" alt="expressLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/">Home</a></li>        
                    <li><a href="/addBook">Add Book</a></li>
                    <li><a href="/viewAllBooks">View All Books</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
{{{body}}}
    
</body>

<br>
<hr />
<footer>
    <p>SoftUni &copy;CopyRight 2018</p>
</footer>
</html>