

<form id="formSubmitChirpMy" method="POST" action="" class="chirp-form">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
</form>