@using Microsoft.AspNetCore.Identity
@using System.IO;
@inject SignInManager<FindMyPet.Models.User> SignInManager
@inject UserManager<FindMyPet.Models.User> UserManager
@inject FindMyPet.Data.FindMyPetDbContext findMyPetDbContext

@if (SignInManager.IsSignedIn(User))
{ //ADMIN

    string image = findMyPetDbContext.Users.Find(UserManager.GetUserId(User)).AvatarUrl;    
    string[] filePaths = Directory.GetFiles(@"wwwroot/images", "*", SearchOption.TopDirectoryOnly);

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    @if (image != null && image != "")
                    {
                        <img style="width:40px; height:40px; border-radius:100%; position:absolute; right:15px; top:5px" src="@image" />
                    }
                    else
                    {
                        <img style="width:40px; height:40px; border-radius:100%; position:absolute; right:15px; top:5px" src="~/images/blank-avatar.png" />
                    }
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @findMyPetDbContext.Users.Find(UserManager.GetUserId(User)).UserName! <fa class="fas fa-cog fa-spin"></fa></a>
            </li>
            <li>
                <button type="submit" class="logoutBtnAdmin btn btn-link navbar-btn navbar-link">Logout <fa class="fas fa-sign-out-alt"></fa></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register222 <i class="fas fa-registered"></i></a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login222 <i class="fas fa-sign-in-alt"></i></a></li>
    </ul>
}