@inject SignInManager<FindMyPet.Models.User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index"><i class="fas fa-user-alt"></i> Profile</a></li>

    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword"><i class="fas fa-key"></i> Password</a></li>
    
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a id="external-login" asp-page="./ExternalLogins"><i class="fas fa-sign-in-alt"></i> External logins</a></li>
    }
    
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData"><i class="fas fa-database"></i> Personal data</a></li>
</ul>
