<div class="container">
  <div class="row">
    <div class="col-12">

      <br/>
      <br/>
      <div class="left">
        <h1 class="text-center display-3">Comics Store home Page</h1>
      </div>

      <div  class="tableData" *ngIf="isAuthenticated">
        <h1 class="text-center">Welcome, {{ role }} [{{ username }}] </h1>
      </div>

      <div class="text-center jumbotron mt-3 chushka-bg-color right">

        <div class="tableData">

          <div *ngIf="!isAuthenticated">
          <hr class="bg-white" />

          <h3>THIS SITE IS FOR TESTING PORPOSES ONLY.</h3>
          <br/>
          <h3 *ngIf="!authService.isAdmin()">Admin Credentials: username: "Admin" & password : "Admin".</h3>
          <br/>
          <h3>
            <a class="nav-link-dark" routerLink="/auth/register">Register</a> if you don't have an account.</h3>
          <br />
          <h3>
            <a class="nav-link-dark" routerLink="/auth/login">Login</a> if you have an account.</h3>
          </div>


        <div *ngIf="isAuthenticated">

          <h3>Welcome to my websait, I hope you enjoy all the functionalities.</h3>
          <br/>

          <h3>THIS SITE IS FOR TESTING PORPOSES ONLY.</h3>
          <br/>

          <br/>

        </div>

      </div>
      </div>
    </div>
  </div>
</div>
<br/>