<h1>Register</h1>
<form method="post">
    <input name="username" placeholder="enter username" />
    <input type="password" name="password" placeholder="enter password" />
    <input type="password" name="repeat" placeholder="repeat password" />
    <input id="submit" type="submit" value="REGISTER" />
</form>