<main>
    <h1>Edit details</h1>
    <div class="catalog">

        <br/>
        <div class="column">
            Date:
            <h2>{{edit.date}}</h1>
                <br/>
                <hr/>
                <br/>
                Content: 
                <h2>{{edit.content}}</h2>
                <br/>
        </div>
        <br/>
        <br/>
        <div class="status">
            Creator: {{{edit.author}}}
        </div>

    </div>
</main>