
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <br/>
            <h1>{{{title}}}</h1>
            
            <br />

            <iframe class="details-iframe" width="600" height="375" src="https://www.youtube.com/embed/{{{youtubeId}}}" 
                    frameborder="0"
                    allowfullscreen>
            </iframe>

            

            <h1 class="tube-detail">{{{author}}}</h1>
            <h2 class="tube-detail">{{{views}}} Views</h2>
            <br />
            <p>{{{description}}}</p>

            <br />
            
        </div>
    </div>
</div>

<br />