<article>
    <h1>{{title}}</h1>
    {{#each contacts}}
    <div class="title">
        {{name}}
        <button>&#8505;</button>
    </div>
    <div class="info">
        <p>☎ {{phone}}</p>
        <p>✉ {{email}}</p>
    </div>
    {{/each}}
</article>