<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Name: {{user.fullName}}</h2>
                </header>

                <h3>
                    Email: {{user.email}}
                </h3>

                <h3>
                    Articles: {{user.article}}
                </h3>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>
