
    <hr class="my-5"/>
    <div class="jumbotron">
        <h1>{{{message}}}</h1>
        <p>The simplest, cutest, most reliable website for trading cats.</p>
        <hr class="my-2">
        <p><a href="/user/login">Login</a> to trade or <a href="/user/register">Register</a> if you don't have an account.</p>
    </div>


    <hr class="my-5"/>
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
        </div>
    </footer>
