
@{
    ViewData["Title"] = "PetFoundCompleted";
}

<h1>Congratulations !</h1>
<h2>Check your profile</h2>
<h2>you received additional credit for the pet you found.</h2>

<a id="btn-add-game" href="/Pets/All" class="btn btn-primary btn-lg btn-block">Back To Home</a>
