@{
    ViewData["Title"] = "About Page";
}
@using Microsoft.AspNetCore.Identity


<div class="text-center left">
    <h1>About Page</h1>
</div>
<hr class="bg-white" />
<br />

<div class="text-center jumbotron mt-3 chushka-bg-color right">
    <div>
        <div class="tableData">
            <h1 class="text-center display-3">Welcome to my website.</h1>
            <p>This is a website where a user can post his lost pet and find other pets.</p>
            <p>
                Every user receves deferent credits for finding deferent pets.
                Users have messages and every pet has comments.
                Comments and messages can be liked or disliked.
                A pet can me modified or deleted.
                Admins can do everything.
            </p>
        </div>
        <a class="tableDataRotateTop btn btn-lg btn-primary" href="/">Home</a>
    </div>
</div>