@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


*
{
    margin:0;
    padding:0;
}


body
{
    font-family: Lato;
}

.logo
{
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    padding:20px;
    color: #818386;
}



.sec-one
{
    background-color: #F5FAFC;
}

.sec-one>header>ul
{
    display: inline-block;
    list-style: none;
    padding:10px;
    margin-left: 66%;
}

.sec-one>header>ul>li
{
    display: inline-block;
    padding:10px;
    color: #818386;

}

.sec-one>header>ul>li:hover
{
    color: black;
    cursor: pointer;
}

header
{
    margin-bottom: 60px;
}


.left-side
{
    display: inline-block;
    width: 40%;
    padding:50px;
}


.left-side>.episode
{
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    position: relative;
    top:-12px;
    left:37%;
    background-color: #F5FAFC;
    margin: 0 auto;
    padding:0 5px;
    text-align: center;
    color: #818386;
}

.left-side>.left-side-stuff>h1
{
    color: #4B89DD;
    font-size: 55px;
    width:100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.left-side>.left-side-stuff
{
    width:90%;
    margin:0 auto;
}

.fa-clock-o
{
    margin: 0 10px;
    color: #818386;
    display: inline-block;
}

.left-side>p
{
    display: inline-block;
}


.minutes
{
    color: #D2D5DA;
    display: inline-block;
}


.left-side-ul
{
    float: right;
    list-style: none;
    color: #D2D5DA;
    display: inline-block;
}

.left-side-ul>li
{
    display: inline-block;
    margin-left: 5px;
}

.left-side-content
{
    margin-top: 40px;
    color: #818386;
}


.right-side
{
    display: inline-block;
    width:35%;
    vertical-align: top;
    margin-left:15%;
}


.right-side>img
{
    width: 100%;
}


.sec-two
{
    border: 1px solid red;
    text-align: center;
}

.sec-two-article1
{
    display: inline-block;
    width:45%;
    vertical-align: top;
}

.sec-two-article2
{
    display: inline-block;
    width:45%;
}

.sec-two>h1
{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #818386;
    margin: 40px;
    letter-spacing: 5px;
}


.sec-two>.sec-two-article1>.sec-two-article-content
{
    width:52.5%;
    display: inline-block;
    float: left;
    text-align: right;
    position: relative;
    top:80px;
    color: #818386;
}


.sec-two>.sec-two-article1>.div-img>img
{
    padding-left: 19px;

}

.sec-two>.sec-two-article1>.name
{
    display: inline-block;
    float: right;
    margin-right: 20%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #818386;
    letter-spacing: 5px;
}


.sec-two>.sec-two-article2>.sec-two-article-content
{
    width:52.5%;
    display: inline-block;
    float: right;
    text-align: left;
    position: relative;
    top:80px;
    color: #818386;
}

.sec-two>.sec-two-article2>.name
{
    display: inline-block;
    float: left;
    margin-left: 20%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: #818386;
    letter-spacing: 5px;
}





body
{
    margin-bottom: 300px;
}
































