
body {
    background: #333;
}

p {
    color: white;
}
.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myAnimation; /*Name to the animation*/
    animation-duration: 4s; /*Time of the animation 4 seconds*/
    animation-iteration-count: 2; /*How many times we want the animation to run, we can set it to infinite*/
    animation-delay: 2s; /*Delay the aniamtion, it waits before the animation begins BUT NOT BETWEEN ANIMATIONS*/
    /*animation-direction: reverse; /*it reverses the animation and it goes the other way around*/

    animation-direction: alternate; /*it will go one direction one time and then the other direction the next time */

    /*animation-timing-function: linear; /*It moves with the same speed all the time*/ 
    /*animation-timing-function: ease-in; /*starts slow and ends fast*/
    /*animation-timing-function: ease-out; /*starts fast and ends slow*/
    animation-timing-function: ease-in-out; /*its the default it starts slow and ends slow*/

    animation-fill-mode: forwards;/*The animation does not reset and does not go back to its default state, but it stays with the current state*/
}

/*Keyframe for our animation*/
@keyframes myAnimation {

    /*Here we specify keypoints for our animation*/

    0% {
        background-color: white;
        left: 0px;
        top: 0px;
        border-radius: 0% 0% 0% 0%;        
    }

    25% {
        background-color: red;
        left:80%;
        top: 0px;
        border-radius: 50% 0% 0% 0%;        
    }

    50% {
        background-color: green;
        left:80%;
        top:400px;
        border-radius: 50% 50% 0% 0%;        
    }


    75% {
        background-color: blue;
        left:0px;
        top:400px;
        border-radius: 50% 50% 50% 0%;        
    }

    100% {
        background-color: white;
        left: 0px;
        top: 0px;
        border-radius: 50% 50% 50% 50%;            
    }
}


