



.animation-example
{
    border: 1px solid red;
    margin: 250px auto;
    width: 100px;
    height:100px;
}

.animation-example
{
    animation-name: animation-example; /*kak se kazva*/
    animation-duration: 3s; /*za kolko vreme shte se izpulni*/
    animation-timing-function: ease-out; /*Trugva burzo i nakraq mnogo bavno zavurshva*/
    animation-delay: 0s; /*kolko shte se bavi predi da zapochne*/
    animation-direction: alternate;
    animation-fill-mode: none; /*or: backwards, both, forward*/
    animation-play-state: running;
    animation-iteration-count: infinite; /*kolko puti shte se povtori*/
}

@keyframes animation-example {

    0%
    {
        /*kato transitiona e na 0 procenta cveta e cherven i
          divcheto stava na krugche zashtoto sme mu dali
          border-radius:100%;*/
        transform: scale(.7);
        background-color: red;
        border-radius: 100%;
        border: 5px double darkviolet;
    }

    50%
    {
        /*kato stigne do 50% cveta stava na orange*/
        background-color: orange;
        border: 5px dashed blue;
        transform: scale(.1);
        border-radius: 225%;
    }

    100%
    {
        /*lato stigne do 100% stava na kvadrat s cvqt yellow*/
        transform: scale(5.5);
        background-color: black;
        border: 5px dotted red;
    }

    /*PROMQNATA NE STAVA IS VEDNUJ !!!*/

}



































