@model IEnumerable<UserConciseViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Lecturer?</th>
            <th>Admin?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>