<br/><br/>
<div class="row">
  <main class="col-4 ml-auto mr-auto text-center">
    <div class="container">
      <div class="row forms">
        <div class="col-12">
          <div class="text-center">
            <br/>
            <h1 class="display-3 top">Reset password</h1>
          </div>
          <h1 class="right">How it works ?</h1>
          <p class="left">To change your password please click the button below and you will receive an email contining a link from which you will be able to change your password. </p>
          <p class="left2">The email will be valid only for 20 minutes. By clicking the below button you will be logged out. Change your password and log in again with your new one.</p>
          <br/>
              <button class="forms btn btn-outline-success reset-password-btn" (click)="sendEmail()">Send Reset Password Email <fa name="cog" animation="spin"></fa></button>
              <div class="reset-pass-email-sent" style="display: none">
                <br/>
                <p>Congratulations ! Email is sent. <fa name="envelope"></fa></p>
              </div>
              <br/>
              <br/>
          </div>
      </div>
    </div>
  </main>
  </div>