<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doner Place</title>
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <span class="logo">Doner  Place</span>
            <span class="greeting">Welcome, Pesho! | <a href="#">[logout]</a></span>
            <ul class="menu">
                 <li><a class="button" href="#">Home</a></li>
                <li><a class="button" href="#">My Orders</a></li>
				<li><a class="button" href="#">All Orders</a></li>
				<li><a class="button" href="#">Create Product</a></li>
                <li><a class="button" href="#">Login</a></li>
                <li><a class="button" href="#">Register</a></li>
            </ul>
        </header>
        <main>
            <form method="post">
			  <h2>Create Product</h2>
			  <div>
				<label for="category">Category</label>
				<select name="category" id="category">
				  <option value="beef">Beef</option>
				  <option value="chicken">Chicken</option>
				  <option value="lamb">Lamb</option>
				</select>
			  </div>
			   <div>
				<label for="imageUrl">Image Url</label>
				<input id="imageUrl" name="imageUrl" type="text">
			  </div>
			  <div>
				<label for="size">Size</label>
				<input id="size" name="size" type="number">
			  </div>
			  <div>
				<strong>Toppings</strong><br>
				<textarea></textarea>
			  </div>
			  <div>
				<input type="submit" value="Create" class="button" style="border:0"/>
			  </div>
			</form>
        </main>
        <footer>Doner Place &copy; 2017</footer>
    </div>
</body>
</html>