{% extends 'base.html.twig' %}

{% block main %}
<!--SLEDNIQ KOD VZIMA VSICHKI ARTIKULI KOITO SA MU PODADENI, FOREACHVA VSEKI ARTIKUL I
    SUZDAVA HEADER V KOITO SLAGA TITLE-to NA VSEKI ARTIKUL, V PARAGRAF SLAGA SUMMARITO I
    SLAGA BUTON READ MORE-->
    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md- 6">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>
                        <p>
                            {{ article.summary }}
                        </p>

                        <small class="author">
                           Created by {{ article.author }}
                        </small>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                    href="{{ path('article_view',{'id' : article.id}) }}">Read more &raquo;</a>
                                <!--V href slagame kato put da e article_view i mu podavame ID-to kato parametur-->
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
