 
  .content {
    transition-property: all; 
    color : black !important;
    border-radius: 10% !important;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition-duration: 0.5s; /*Now for the background it will be 1s, for border-radius 3s and for transform 5s*/
    transition-delay: 0.5s; /*it will wait 1 seconds before it begins*/
    transition-timing-function: linear; 
}

.content:hover {
  background: burlywood;
  font-size: 15px;
}


.comixMessage {
  opacity:0;
  animation-name: message;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: relative;
}


.classComix:hover {
  
  cursor: pointer;
  background-color: lightgray;
  border:5px solid #333;
  transform: rotateY(360deg);
}
