
  @keyframes tableData {
  
    0% {
        
    }
  
    100% {  
      opacity:1;
    }
  }


  @keyframes rightAnim {
  
    0% {
    }
  
    
    60% {
      right: 30px;
    }

    100% {  
        right:0px;
    }
  }

  
  @keyframes leftAnim {
  
    0% {
        
    }
  
    60% {
      left: 30px;
    }

    100% {  
        left:0px;
    }
  }
  

  @keyframes bottomAnim {
  
    0% {
        
    }
  
    60% {
      bottom: 30px;
    }

    100% {  
        bottom:0px;
    }
  }
  
  @keyframes topAnim {
  
    0% {
        
    }
  
    60% {
      top: 30px;
    }

    100% {  
        top:0px;
    }
  }
  


@keyframes buttons {

  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      border: 1px solid white;
  }
}



@keyframes title {

  0% {
  }
  100% {    
      font-size: 70px;
  }
}

  @keyframes imgAnim {
  
    0% {
        
    }
  
    100% {  
      border-radius: 50%;
  
    }
  }
  

  
@keyframes myAnimation {

  0% {
  }

  100% {
      left:0;
  }
}


@keyframes message {

  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      border: 1px solid white;
  }
}


@keyframes tableDataRotate {
  0% {

  }

  30% {
    opacity:1;
  }

  50% {
    transition: 0;    
  }

  100% {
    transform: rotateY(360deg);
    opacity:1;
  }
}




@keyframes tableDataRotateTop {
  0% {

  }

  30% {
    opacity:1;
  }

  50% {
    transition: 0;    
  }

  100% {
    transform: rotateX(360deg);
    opacity:1;
  }
}