/*PRIMER S @Media QUERY:*/
.box
{
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    width:calc(100% - 25px);/*davam mu width 95% i 25px padding*/
}

/*MEDIA QUERY koeto slaga na ekrana max-width: 1024
    MOJEM DA SLAGAME I min-width: 800px*/
@media screen and (max-width:1024px) {

    /*KOGATO RAZMERA STANE >= 1024px
    TOVA OT DOLO SE EXSEKUTVA, TOVA E ZA DESKTOP VERSIQ*/
    .box {
        width:200px;
        height:200px;
        background-color: blue;
    }
}

@media screen and (max-width: 960px)
{
    /*Exsekutva se kogato screena stane >= 960px
    , TOVA E ZA TaBLET VERSIQ*/
    .box{
        width: calc(50% - 10px); /*tova go znam, vij po dolo*/
        border: 1px solid #1907ff;
        background: #a97c36;
        height: 80px;

        /*calc(50% - 10px)  KALKULIRA 50% OT WIDTH-a I VADI OT DVETE
          STRANI PO 10px. TESTVAI SUS 100% I SHTE RAZBERESH*/
    }
}


@media screen and (max-width: 460px)
{
    /*excekutva se kogato screen-width stane 480px
    TOVA E ZA MOBILNITE USTROISTVA*/
    .box
    {
        display:block; /*za da sa edno pod drugo*/
        width:95%; /*Za da sedi na celiq ekran*/
        background: #fff60e;
        color: #1907ff;
        text-align: center;
    }

}



/*PRIMER S display:flex i display: inline-flex:*/

.flex-container /*konteinera*/
{
    display: flex;
    border: 2px solid black;
}

.flex-item /* itemite*/
{
    margin-right: 5px;
    padding: 20px;
    background: #ff882e;
}

.inline-flex-container /*konteinera*/
{
    display: inline-flex;
    border: 2px solid black;
}

.inline-flex-item /* itemite*/
{
    margin-right: 5px;
    padding: 20px;
    background: red;
}

/*Primer s   flex-wrap: wrap;   :*/
.flex-container2
{
    display: flex; /*purvo davame na konteinera dispay:flex;*/
    flex-wrap: wrap;
    width: 300px;
    border: 1px solid black;
}

.flex-item2
{
    margin:5px;
    padding: 20px;
    background: #ff882e;
}


/*primer s justify-content: ;*/
.flex-container3
{
    display: flex; /*purvo davame na konteinera dispay:flex;*/
    justify-content: center; /*podrejda blokchetata v cetura*/
    /* justify-content: flex-start;     podrejda gi v lqvo */
    /* justify-content: flex-end;   podrejda gi v dqsno*/
    border: 1px solid black;
    margin: 10px;
}

.flex-item3
{
    margin: 5px;
    padding: 20px;
    background: #ff882e;
}


/*Primer s   align-items:center;*/
.flex-container4
{
    display: flex; /*purvo davame na konteinera dispay:flex;*/
    align-items: center; /*za d sa podredeni v centura*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    flex-direction: column; /*za da budat edno pod drugo*/
    border: 1px solid black;
    margin: 10px;
}

.flex-item4
{
    margin: 5px;
    padding: 20px;
    background: #ff882e;
}




.container
{
    display: flex;
    align-items: center; /*Slagame si elementite edno pod drugo*/
    flex-direction: column;
}

.box
{


}


/*ORDER 0 E PURVATA POZICIQ*/
.order1
{
    order: 2; /*purviq stava treti*/
}


.order2
{
    order: 3; /*vtoriq stava chetvurti*/
}


.order3
{
    order: 0; /*tretiq stava purvi*/
}


.img-container
{
    border: 2px solid black;
    max-width: 250px;
}

.img-container img
{
    width: 100%;
}



/*calc() POZVOLQVA NI DAPRAVIM SMETKI S %
Shte go polzvame za div koeto e blokov element.*/

.container5
{
    border: 1px solid black;
}


.container5 div
{
    display: flex;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
    width: calc(100% - 20px); /*pravim duljinata da e na 100% i vadim 20px*/
    /* KATO CENTRIRAME DIVOVETE RAZPREDELQ PO 10 PIXELA OT VQKA STRANA*/
}
/*MOJEM DA POLZVAME I MARGINI I PADDINGI*/

































