@page
@model BookLibrary.Web.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add Book</h2>

<div class="container-fluid">

    <form method="post">
        <div class="form-group">
            <strong>Title</strong>
            <input name="title" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">
        </div>
        <div class="form-group">
            <strong>Author</strong>
            <input name="author" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Author">
        </div>
        <div class="form-group">
            <strong>Image Url</strong>
            <input name="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="ImageUrl">
        </div>
        <div class="form-group">
            <strong>Description</strong>
            <textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add book</button>
        <a class="btn btn-outline-success" asp-page="/Index">Cancel</a>
    </form>
</div>