@page
@model BookLibrary.Web.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add Book</h2>

<br />
<form method="post">

    <div class="form-group row">
        <label asp-for="Title">Title</label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control custom-input" placeholder="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Author">Author</label>
        <div class="col-sm-10">
            <input asp-for="Author" type="text" class="form-control custom-input" placeholder="Author">
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImageUrl">Image Url</label>
        <div class="col-sm-10">
            <input asp-for="ImageUrl" type="url" class="form-control custom-input" placeholder="ImageUrl">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description">Description</label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control custom-input" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="btns">
        <button type="submit" class="btn btn-success">Add book</button>
        <a class="btn btn-outline-success" asp-page="/Index">Cancel</a>
    </div>

</form>
