<br/>
<br/>

<div *ngIf="order" class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="text-center">
                <h1 class="display-3 top">Order Details Page</h1>
            </div>
            <br/>
            <br/>

            <h3 class="right">Buyer:</h3>
            <h1 class="display-4 left">{{ order.buyer }}</h1>
            <br/>
            <hr class="display 4 left1" />

            <br/>
            <h3 class="right2">Date:</h3>
            <h1 class="display-4 left2">{{ order.date }}</h1>
            <br/>
            <hr class="display 4" />

            <br/>
            <h3 class="right3">Comix:</h3>
            <h1 class="display-4 left3">{{ order.comix }}</h1>
            <br/>
            <hr class="display 4" />

            <br/>
            <h3 class="right4">Price:</h3>
            <h1 class="display-4 left4">{{ order.price }} &euro;</h1>


            <hr class="display 4" />
            <br/>

            <a *ngIf="authService.isAdmin()" class="btn btn-primary tableDataRotate" routerLink="/order/all">All Orders</a>
            <a *ngIf="!authService.isAdmin()" class="btn btn-primary tableDataRotate" routerLink="/order/my">My Orders</a>
            <br/>
            <br/>
            <br/>
        </div>

    </div>
</div>