@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>@ViewData["Title"]</h1>
<br />
<a asp-page="About">Helper Link to About Page</a>
<br />

<a asp-page="Error">Helper Link to Error Page</a>

<br />
<br />
<form method="post">
    <input type="submit" value="Send Message One" asp-page-handler="MessageOne" />
    <br />
    <br />
    <input type="submit" value="Send Message Two" asp-page-handler="MessageTwo" />
</form>

<br />
<br />


<h2>@ViewData["Message"]</h2>

<br />
<br />


<form method="post">
    <!--Pass parameters with asp-route-PARAMNAME=""-->
    <input type="submit" value="Greet me!" asp-route-name="Nasko" asp-page-handler="ParametersPassed" />
</form>

<h2>@ViewData["Greeting"]</h2>
<br />
<br />

<a asp-page-handler="LinkClicked">Click me!</a>
<br />
<br />

<h2>@ViewData["LinkMessage"]</h2>
<br />
<br />
