@page
@model RazorPagesArchitecture.Pages.SumNumbersModel
@{
    ViewData["Title"] = "SumNumbers";
}

<h2>SumNumbers</h2>

<br />

<form method="post">
    <input type="number" asp-for="FirstNumber" />
    <input type="number" asp-for="SecondNumber" />
    <input type="submit" asp-page-handler="SumNumbers" value="Send"/>

    <h3>We can access properties by using the Model itself !!!</h3>
    
    <h2>Sum: @Model.Sum</h2>
</form>

<form method="post">
    <input asp-page-handler="IncrementSum" type="submit" value="Increment Sum" />
</form>
