<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/icons8-google-filled-50.png" type="image/png" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
    <title>Document</title>
</head>
<body>
    <h1>Upload a file</h1>
    <form method="POST" enctype="multipart/form-data" action="/" >
        File: <input type="file" name="upload"/><br>
        <input type="submit" name="submitBtn" value="Submit"/>
    </form>    
    <br/>
    <br/>
    <br/>
    <img src="../images/1024px-Dogs_like_cucumbers_&_cucumbers_like_dogs.jpg" alt="No Image" width="200px"/>
</body>
</html>