@model IEnumerable<CourseConciseViewModel>
@{
    ViewData["Title"] = "All Courses";
}

<h2>All Courses</h2>
<a asp-area="Admin" asp-controller="Courses" asp-action="Create" class="btn btn-success">
    <i class="fa fa-plus"></i> Create new course
</a>
<ul>
    @Html.DisplayForModel()
</ul>