
//title i subtitle idvat ot servera i nie tuk gi slagame v h1 i h2 tagove
h1= title
h2= subtitle

//.pug failvete sa statichni i nqma nujda da restartirame servera 
h3 Test


//mojem da renderirame i cql for cikul podaden ot servera
ul
  each val in myArray
    li= val

//Imame i if else statementi
if condition
    h1.success
        | Is true !
else
    h1.error
        | Is false !