@using BookLibrary.Models;
@model Director
@{
    Layout = "_Layout";
    ViewData["Title"] = "Director Details";
}

<h2>@ViewData["Title"]</h2>

<br />
<h2>@Model.Name</h2>
<br />

<ul>
    @foreach (Movie movie in Model.Movies.ToList())
    {
        <li><a href="/Movies/Details/@movie.Id">@movie.Title</a>(@movie.Status)</li>
    }
</ul>
