
<!--Slagame @index za da imame numeraciq na vseki kontakt. Tova si e vgradeno v Handlebars.js-->
<div class="contact" data-id="{{@index}}">
    <span class="avatar small">&#9787;</span>
    <span class="title">{{firstName}} {{lastName}}</span>
</div>
